p, h1 {
    color: rgb(255, 255, 255);
  }
html {
    background-color: #000000;
  }
.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

a{
  color:#ffffff
}

a:hover{
  color:#aa0200
  
}